<h2>Détail de l'adhérent</h2>

<div *ngIf="loading">
  Chargement...
</div>

<div *ngIf="error">
  {{ error }}
</div>

<div *ngIf="!loading && !error && adherent">

  <p><strong>ID :</strong> {{ adherent.id }}</p>

  <p><strong>Nom :</strong> {{ adherent.nom }}</p>

  <p><strong>Prénom :</strong> {{ adherent.prenom }}</p>

  <p><strong>Email :</strong> {{ adherent.email }}</p>

  <p><strong>Téléphone :</strong> {{ adherent.telephone }}</p>

  <p><strong>Date de naissance :</strong> {{ adherent.dateNaissance }}</p>

</div>